<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var loginverfiy = false;

    $(document).ready(function () {
      var login = document.getElementById('loginMember_username').value;
      if (login !==null){
        loginverfiy = true;
      }
    })
    function opList(){
      window.location.href="/board";
    }


    function updateBoardPage(){
    if(loginverfiy===true) {
      openModal();
    }if(loginverfiy===false) {
      alert("권한이 없습니다.");
    }
  }
  function openModal() {
    document.getElementById('passwordModal').style.display = 'block';
  }

  function closeModal() {
    document.getElementById('passwordModal').style.display = 'none';
  }

  function openCommentModal(commentId) {
    // 선택한 댓글의 내용 가져오기
    if (loginverfiy === true) {
        const commentContent = document.getElementById('comment_content').innerText;
        // 수정할 내용을 모달의 입력 필드에 설정
        document.getElementById('comment_id').value = commentId; // 댓글 ID를 hidden input에 설정
        document.getElementById('edited_comment').value = commentContent;
        // 모달 창 열기
        document.getElementById('commentModal').style.display = 'block';
    } else {
        alert("로그인 후 사용 가능합니다.");
    }
}

// 댓글 수정 모달 창 닫기
function closeCommentModal() {
    document.getElementById('commentModal').style.display = 'none';
}

function saveEditedComment() {
    const comment_id = document.getElementById('comment_id').value;
    var login = document.getElementById('loginMember_username').value;
    const edit_comment = document.getElementById('edited_comment').value;

    var CommentDto = {
        "id": comment_id,
        "comment": edit_comment,
        "memberDto": {
            "username": login
        }
    };

    $.ajax({
        url: "/board/comment/update",
        method: "post",
        contentType: "application/json",
        data: JSON.stringify(CommentDto),
        success: function(response) {
            alert("댓글 수정 성공");
            closeCommentModal();
            window.location.reload();
        },
        error: function(xhr) {
            const errorMap = JSON.parse(xhr.responseText);
            $.each(errorMap, function(key, value) {
                if (key === "message") {
                    alert(value);
                }
            });
        }
    });
}

    function verifyPassword() {
    var passwordInput = document.getElementById('password').value;
    var id = document.getElementById('input_id').value;
    const loginMember= document.getElementById('loginMember_username').value;

    var dto ={
      "id" : id,
      "password" : passwordInput,
      "memberDto" :{
        "username" : loginMember
      }
    }

    $.ajax({
      url : "/password/verify",
      method : "post",
      contentType : "application/json",
      data : JSON.stringify(dto),
      success : function (response){
        if (response === 1){
          alert("비밀번호 검증 성공");
          window.location.href = "/board/update/" + id;
        }
      },
      error : function (xhr){
        var errorMap = JSON.parse(xhr.responseText);
        console.log(errorMap)
        $.each(errorMap, function(key, value) {
            if(key === "message") {
                alert(value);
            }
        });
      }
    });
  }

  function board_like() {
    const loginEl = document.getElementById('loginMember_username');
    var loginMember;
    if (loginEl != null) {
        loginMember = loginEl.value;
    }
    var id = document.getElementById('input_id').value;
    var dto = {
        "id": Number(id),
        "memberDto": {
            "username": loginMember
        }
    }

    $.ajax({
        url: "/board/likes",
        method: "post",
        contentType: "application/json",
        data: JSON.stringify(dto),
        success: function(response) {
            location.reload();
        },
        error: function(xhr) {
            if (xhr.status === 401) {
                var errorMessage = JSON.parse(xhr.responseText);
                $.each(errorMessage, function(key, value) {
                    if (key === "message") {
                        alert(value);
                    }
                });
            }
        }
    });
}

  function boardComment(){
    if (loginverfiy===true) {
      var id = document.getElementById('input_id').value;
      var comment = document.getElementById('comment_text').value;
      var login = document.getElementById('loginMember_username').value;


      var dto = {
        "comment": comment,
        "boardDto": {
          "id": id
        },
        "memberDto": {
          "username": login
        }
      };

      $.ajax({
        url: "/api/board/comment",
        method: "post",
        contentType: "application/json",
        data: JSON.stringify(dto),

        success: function (response) {
          location.reload();
        },
        error: function (xhr) {
          if (xhr === 500) {
            alert("오류발생");
          }
        }
      });
    }else
      alert("로그인후 댓글을 작성할수 있습니다.");
  }

   function boardDelete(){
    if (loginverfiy===true){
      var BoardConfirm = confirm("정말로 삭제 하시겠습니까?");

      if (BoardConfirm){
        var id = document.getElementById('input_id').value;
        var login = document.getElementById('loginMember_username').value;

        var dto = {
          "id": id,
          "memberDto" :{
            "username" : login
          }
        }
        $.ajax({
          url:"/delete",
          method : "delete",
          contentType : "application/json",
          data : JSON.stringify(dto),
          success : function (response){
            alert("삭제성공");
            window.location.href="/board";
          },
          error : function (xhr){
            if (xhr.status === 500){
              alert("삭제도중 오류발생");
            }
            if (xhr.status===401){
              alert("등록된 사용자만 삭제가능");
            }
          }
        });
      }
    }else
      alert("권한이 없습니다.");
  }

    function deleteComment(commentId){
    const comment_id = commentId;
    var login = document.getElementById('loginMember_username');

    if (login !== null){
      login = login.value;
    } else {
      alert("로그인후 이용할수 있습니다.");
      return; // 로그인되어 있지 않으면 함수를 종료합니다.
    }

    var commentConfirm = confirm("삭제하시겠습니까?");
    if (commentConfirm) {
      var dto = {
        "id": comment_id,
        "memberDto": {
          "username": login
        }
      }
      $.ajax({
        url: "/api/delete/comment",
        method: "delete",
        contentType: "application/json",
        data: JSON.stringify(dto),

        success: function (res) {
          alert("삭제성공");
          location.reload();
        },
        error: function (xhr) {
          if (xhr.status === 500) {
            var errorMessage = JSON.parse(xhr.responseText);
            $.each(errorMessage,function (key, value){
              if (key==="message")
                alert(value);
            });
          }
        }
      });
    }
  }

</script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">CRUD 게시판</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <div th:if="${loginMember != null}" class="d-flex justify-content-between">
                    <div class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="'사용자: '+${loginMember.username}">Home</a>
                    </div>
                    <div class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link">로그아웃</button>
                        </form>
                    </div>
                </div>
                <div th:if="${loginMember==null}"  class="d-flex justify-content-between">
                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/createMember}">회원가입</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div th:object="${board}">

    <div class="container mt-4">
        <div class="block table-responsive grid-view">
            <table class="table table-bordered">
                <hr class="my-4"/>
                <colgroup>
                    <col style="width:15%;">
                    <col>
                    <col style="width:15%;">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th colspan="4">
                        <div class="col-md-12">
                            <span id="text_title" th:text="*{title}"></span>
                            <button  type="button" class="btn" onclick="updateBoardPage()">수정</button>
                            <button type="button" onclick="boardDelete()" class="btn btn-danger">삭제</button>
                            <button type="button" class="btn btn-info" onclick="opList();">목록</button>

                            <button th:if="${board_like_check == false}" type="button" onclick="board_like()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            </button>
                            <button th:if="${board_like_check == true}" type="button" onclick="board_like()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                            </button>

                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>등록자명</th>
                    <td th:text="*{writer}"></td>
                    <th>등록일</th>
                    <td th:text="${#temporals.format(board.dateTime, 'yyyy-MM-dd')}">2024-01-20 15:46:22</td>
                </tr>
                <tr>
                    <th>조회수</th>
                    <td colspan="3" th:text="*{views}">5</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="col-md-9 board-contents" th:text="*{content}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th>댓글창</th>
                </tr>
                </thead>
                <tbody th:each="comment: ${allComment}">
                <tr>
                    <td>
                        <input type="hidden" th:value="${comment.id}" id="comment_id">
                        <div th:text="${comment.member.username}" style="font-weight: bold;color: #0D0D0D"></div>
                        <div id ="comment_content"th:text="${comment.content}"/>
                        <div th:text="${#temporals.format(comment.dateTime, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 10px"/>
                        <button th:onclick="deleteComment([[${comment.id}]])" style="font-size: 8px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg></button>
                        <button type="button" th:onclick="openCommentModal([[${comment.id}]])" style="padding: 0;">
                            <img src="/img/button/CommnetModfiy.PNG" style="width: 20px; height: 20px;">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr class="my-4"/>

            <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                <textarea type="text" th:field="${comment.comment}"  id="comment_text" rows="5" cols="80" style="height: 235px; width: 614px;"></textarea>
                <br>
                <button onclick="boardComment()">댓글달기</button>
            </div>
            <hr class="my-4"/>
        </div>
    </div>

    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="password">비밀번호를 입력하세요:</label>
            <input type="password" id="password">
            <button onclick="verifyPassword()">확인</button>
        </div>
    </div>

    <div id="commentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCommentModal()">&times;</span>
            <label for="edited_comment">댓글 수정:</label>
            <textarea id="edited_comment" rows="5" cols="80"></textarea>
            <button onclick="saveEditedComment()">저장</button>
        </div>
    </div>

    <input type="hidden" id="input_id" th:value="*{id}">
    <input  th:if="${loginMember != null}" type="hidden" id="loginMember_username" th:value="${loginMember.username}">

</div>
</body>
</html>