<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

    function writeboard(){
      const title = document.getElementById('title_input').value;
      const loginMember_username = document.getElementById('writer_input').value;
      const password = document.getElementById('password_input').value;
      const content = document.getElementById('content_input').value;

      var boardDto={
        "title" :title,
        "password" : password,
        "content": content,
        "memberDto" :{
          "username" :loginMember_username
        }
      }

      $.ajax({
        url :"boardWrit",
        method : "post",
        contentType : "application/json",
        data: JSON.stringify(boardDto),
        success :function (response){
          window.location.href="/board"
        },
        error : function (xhr){
          if (xhr.status ===500){
            alert("서버 오류");
          }
          if (xhr.status ===400){
            var errorMap = JSON.parse(xhr.responseText);
           $.each(errorMap, function (key, value){
             if(key==="title"){
               alert(value);
             }else if(key==="password"){
               alert(value);
             }else if(key==="content"){
               alert(value);
             }
           })
          }
        }
      });

    }
    function cancle(){
      window.location.href="/board";
    }
</script>
<body>

<div class="container mt-5"th:object="${board}">
    <div class="block table-responsive grid-view">
        <table class="table table-bordered">
            <caption class="hidden">코드폭탄</caption>
            <tbody>
            <tr>
                <th><label th:for="writer">작성자</label></th>
                <td>
                    <input class="form-control" id="writer_input" type="text" th:value="${loginMember.username}" readonly></td>
            </tr>
            <tr>
                <th><label th:for="title">제목</label></th>
                <td colspan="3"><input class="form-control" id="title_input" type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <th><label th:for="password">비밀번호</label></th>
                <td colspan="3"><input class="form-control" id="password_input" type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <th><label th:for="content">내용</label></th>
                <td colspan="3">
                    <textarea class="form-control" th:field="*{content}"  id="content_input" rows="5" cols="80" style="height: 235px; width: 614px;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <button onclick="writeboard()">글쓰기</button>
        <button onclick="cancle()">취소</button>
    </div>
</div>

</body>
</html>