<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>500 Error Page</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 커스텀 스타일 시트 추가 -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container py-5">
    <div class="text-center">
        <h2 class="display-4">오류 발생</h2>
        <p class="lead">죄송합니다, 서버에서 오류가 발생했습니다.</p>
    </div>
</div>
<!-- 부트스트랩 자바스크립트 및 팝퍼 라이브러리 추가 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>