<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>게시판 토이 프로젝트</h1>
<a href="#" th:href="@{/board}"> 게시판으로 이동하기</a>
<div th:if="${loginMember==null}">
    <a th:href="@{/joinMember}">회원가입</a>
    <a th:href="@{/login}">로그인</a>
</div>

<div th:if="${loginMember!=null}">
    <div th:text="'사용자 :'+${loginMember.username}"></div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>

</body>
</html>